###############################################################################
## Simple Photo Gallery Velocimacros
###############################################################################

#macro(SimplePhotoGalleryScript $entry)
    #set($list = $entry.getMetaData().get("photo-album"))
    #friendlyPermalink($entry)
    #if($BLOJSOM_PLUGIN_LIST_TOOL.size($list) > 1 )
        #set($count = 0)
    <div id="remote">
    <a href="$entryLink" onclick="previousPhoto();return false;">&laquo; prev photo</a>&nbsp;<a href="$entryLink" onclick="nextPhoto();return false;">next photo&raquo;</a>
    </div>
    <div id="showHideMenu"><a id="showHideTab" href="$entryLink" onclick="menuSwitch();return false;"><img src="$BLOJSOM_BLOG.getBlogBaseURL()/resources/$BLOJSOM_USER/showmenu.gif" alt="Show Menu" width="11" /></a></div>
    <div id="photo"></div>
    <script type="text/javascript">
        var gallery = new Array($BLOJSOM_PLUGIN_LIST_TOOL.size($list));
#foreach($photo in $list)
        gallery[$count] = new Image();
#if($count == 0)
        gallery[$count].onload = setInitialPhoto;
#end
        gallery[$count].src = "$photo";
#set($count = $count + 1)
#end
        //setPhotoDimensions(document.getElementById("photo"));
    </script>
    #elseif($BLOJSOM_PLUGIN_LIST_TOOL.size($list) == 1)

    <div id="showHideMenu">
        <a id="showHideTab" href="$entryLink" onclick="menuSwitch();return false;"><img src="$BLOJSOM_BLOG.getBlogBaseURL()/resources/$BLOJSOM_USER/showmenu.gif" alt="Show Menu" width="11" /></a>
    </div>
    <div id="photo">
        <img src="$BLOJSOM_PLUGIN_LIST_TOOL.get($list, 0)" onload="setPhotoDimensions(this);" alt="Photo"/>
    </div>
    #end
    
#end

#macro(SimplePhotoGalleryThumbnail $entry)
   #friendlyPermalink($entry)
   #if($entry.getMetaData().get("photo-album-thumbnail"))
   #set($thumbnail = $entry.getMetaData().get("photo-album-thumbnail"))
<div class="thumbnail">
    <a href="$entryLink" title="View this photo album"><img src="$!thumbnail" alt="thumbnail image from photo gallery" /></a>
</div>
   #end
#end
